$border-move-btn-color: #dea56a;
$btn-text-color: #dea56a;

.border-move-btn {
    position: relative;
    width: fit-content;
    .border-line {
        background: $border-move-btn-color;
        display: block;
        position: absolute;
        &-top,
        &-bottom {
            width: 100%;
            height: 1px;
        }

        &-left,
        &-right {
            height: 100%;
            width: 1px;
        }
        &-top {
            top: 0;
        }
        &-bottom {
            bottom: 0;
        }
        &-left {
            left: 0;
        }
        &-right {
            right: 0;
        }
    }
    .btn-text {
        color: $border-move-btn-color;
        display: block;
        padding: 0 25px;
        position: relative;
        line-height: 35px;
        &::before {
            content: '';
            display: block;
            background: rgba(222, 165, 106, 0.1);
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transform: scaleX(0);
        }
    }

    &:hover .btn-text::before {
        transition: all ease 1s;
        transform: scaleX(1);
    }
}