@import
    '../helper/var';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'Noto Sans TC', "PingFang TC" ,"微軟正黑體", "蘋果儷中黑",'sans-serif' , Arial;
    height: 100vh;
    width: 100vw;
}

ul, li {
    list-style: none;
}

img {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    &:link {
        color: $color;
    }
    &:visited {
        color: $color;
    }
}

.clear::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}
