@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, li {
  list-style: none; }

img {
  height: 100%;
  width: 100%; }

a {
  text-decoration: none; }
  a:link {
    color: #dea56a; }
  a:visited {
    color: #dea56a; }

.border-move-btn {
  position: relative;
  width: fit-content; }
  .border-move-btn .border-line {
    background: #dea56a;
    display: block;
    position: absolute; }
    .border-move-btn .border-line-top, .border-move-btn .border-line-bottom {
      width: 100%;
      height: 1px; }
    .border-move-btn .border-line-left, .border-move-btn .border-line-right {
      height: 100%;
      width: 1px; }
    .border-move-btn .border-line-top {
      top: 0; }
    .border-move-btn .border-line-bottom {
      bottom: 0; }
    .border-move-btn .border-line-left {
      left: 0; }
    .border-move-btn .border-line-right {
      right: 0; }
  .border-move-btn .btn-text {
    color: #dea56a;
    display: block;
    padding: 0 25px;
    position: relative;
    line-height: 35px; }
    .border-move-btn .btn-text::before {
      content: '';
      display: block;
      background: rgba(222, 165, 106, 0.1);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: scaleX(0); }
  .border-move-btn:hover .btn-text::before {
    transition: all ease 1s;
    transform: scaleX(1); }

.logo {
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  width: 50px; }
  .logo-each {
    width: 25px;
    height: 25px;
    background-size: cover; }
  .logo-top-left {
    background: url(../../imgs/loading_01.svg) no-repeat center; }
  .logo-top-right {
    background: url(../../imgs/loading_03.svg) no-repeat center; }
  .logo-bottom-left {
    background: url(../../imgs/loading_02.svg) no-repeat center; }
  .logo-bottom-right {
    background: url(../../imgs/loading_04.svg) no-repeat center; }

.menu-btn {
  height: 40px;
  width: 40px;
  background: #dea56a;
  border-radius: 50%;
  position: relative;
  cursor: pointer; }
  .menu-btn-line {
    height: 3px;
    width: 50%;
    border-radius: 20px;
    background: #484848;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%); }
    .menu-btn-line-top {
      top: 30%; }
    .menu-btn-line-middle {
      top: 50%; }
    .menu-btn-line-bottom {
      top: 70%; }

.nav-lists .list {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0;
  font-weight: 500;
  cursor: pointer;
  padding: 7.5px 0 7.5px 0;
  transition: all ease .3s; }
  .nav-lists .list-style {
    display: inline-block;
    background: rgba(255, 255, 255, 0.4);
    height: 8px;
    width: 8px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 18px;
    transition: all ease .3s; }
  .nav-lists .list-text {
    font-size: 14px;
    vertical-align: middle;
    margin-right: 5px;
    transition: all ease .3s; }
  .nav-lists .list-line {
    display: inline-block;
    width: 20px;
    height: 1px;
    background: rgba(255, 255, 255, 0.4);
    line-height: 20px;
    vertical-align: middle;
    margin-right: 6px;
    overflow: hidden;
    transition: all ease .3s; }
    .nav-lists .list-line::before {
      content: '';
      display: block;
      background: #fff;
      width: 100%;
      height: 1px;
      transform: translateX(-100%); }
  .nav-lists .list:hover {
    transform: translateX(12px); }
    .nav-lists .list:hover .list-text {
      padding-left: 5px;
      letter-spacing: 3.5px; }
    .nav-lists .list:hover .list-line {
      width: 25px; }

.nav-lists .cur {
  color: #fff; }
  .nav-lists .cur .list-style {
    background: #fff; }
  .nav-lists .cur .list-line::before {
    transition: all ease 1s;
    transform: unset; }

.news-box {
  transform: rotate(270deg); }
  .news-box::before {
    content: '';
    display: block;
    background: #dea56a;
    width: 100%;
    height: 5px;
    margin-bottom: 14px; }
  .news-box .news-text {
    color: #fff;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: bold; }

body {
  background: #484848;
  font-family: 'Open Sans', 'Noto Sans TC', "PingFang TC" ,"微軟正黑體", "蘋果儷中黑",'sans-serif' , Arial;
  height: 100vh;
  width: 100vw; }

header {
  position: fixed;
  width: 100%; }
  header .logo {
    position: absolute;
    top: 50px;
    left: 45px; }
    header .logo .h1-text {
      text-indent: -99999px; }
  header .menu-btn {
    position: absolute;
    top: 50px;
    right: 45px; }

.nav-cur {
  position: fixed;
  top: 50%;
  left: 45px;
  transform: translateY(-50%); }

.msg-news {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; }
  .msg-news .news-box {
    position: absolute;
    bottom: 45px;
    left: 45px; }
  .msg-news .fb-msg {
    position: absolute;
    right: 45px;
    bottom: 45px; }
