.border-move-btn {
  position: relative;
  width: fit-content; }
  .border-move-btn .border-line {
    background: #dea56a;
    display: block;
    position: absolute; }
    .border-move-btn .border-line-top, .border-move-btn .border-line-bottom {
      width: 100%;
      height: 1px; }
    .border-move-btn .border-line-left, .border-move-btn .border-line-right {
      height: 100%;
      width: 1px; }
    .border-move-btn .border-line-top {
      top: 0; }
    .border-move-btn .border-line-bottom {
      bottom: 0; }
    .border-move-btn .border-line-left {
      left: 0; }
    .border-move-btn .border-line-right {
      right: 0; }
  .border-move-btn .btn-text {
    color: #dea56a;
    display: block;
    padding: 0 25px;
    position: relative;
    line-height: 35px; }
    .border-move-btn .btn-text::before {
      content: '';
      display: block;
      background: rgba(222, 165, 106, 0.1);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: scaleX(0); }
  .border-move-btn:hover .btn-text::before {
    transition: all ease 1s;
    transform: scaleX(1); }
